<div class="card" >
    <div class="table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Nome Produto</th>
              <th>Unidade medida</th>
              <th>Data da Movimentacao</th>
              <th>Lote</th>
              <th>Data de Fabricacao</th>
              <th>Data de Validade</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>
                {{ product.nome }}
              </td>
              <td>
                {{ product.unidade }}
              </td>
              <td>
                {{ product.dataMovimentacao }}
              </td>
              <td>
                {{ product.lote }}
              </td>
              <td>
                {{ product.dataFabricacao }}
              </td>
              <td>
                {{ product.dataValidade }}
              </td>
              <td>
                <button type="button" class="btn btn-outline-primary btn-sm">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    