<div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <div>
          <a class="nav-link disabled" href="#">Saldo em estoque</a>
        </div>
      </div>
    </div>
  
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>UN</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  