<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div>
        <a class="nav-link disabled" href="#">Cadastro de Produtos</a>
      </div>
      <div class="nav-item">
        <button
          type="button"
          class="btn btn-primary"
          [routerLink]="['/product-registration/cadastrar']">Novo Produto
        </button>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Código</th>
          <th>Descrição Produto</th>
          <th>Descrição Detalhada</th>
          <th>Custo</th>
          <th>Margem Lucro</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>
            {{ product.id }}
          </td>
          <td>
            {{ product.nome }}
          </td>
          <td>
            {{ product.descricao }}
          </td>
          <td>
            {{ product.precoCusto }}
          </td>
          <td>
            {{ product.margemLucro }}
          </td>
          <td>
            <button class="btn btn-primary btn-sm" [routerLink]="['/product-registration', product.id, 'editar']">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
